rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ULTIMATE DEBUGGING RULE - OPEN FOR ALL
    // WARNING: DO NOT KEEP THIS FOR PRODUCTION
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
